@media (max-width: 680px) {
    .nav_links {
        display: none;
    }
    .fa-bars {
        display: block !important;
    }

    .navbar {
        width: 100%;
    }

    .main_form {
        width: 90%;
        margin: 150px auto;
    }

    .contact_details {
        flex-direction: column;
        align-items: center;
    }

  }

  @media (max-width: 664px) {
    .logo_link {
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

.search {
    flex-direction: column;
    align-items: start;
    gap: 25px;
    
}
.category_products {
    grid-template-columns: 1fr;
}

.category_pic2,
.category_pic5,
.category_pic6,
.category_pic7,
.category_pic8 {
    display: none;
}

.category_pic1 img, .category_pic3 img, .category_pic4 img {
    width: 100%;
    
}




}

@media (max-width: 493px) {
    .hero {
        padding: 20px;
    }

    .hero_header {
        font-size: 2rem;
    }

    .article_section {
        display: grid;
        grid-template-columns: 1fr 1fr;
       
    }

    .cardss {
        width: 90%;
        margin: 0 auto;
    }


    .image3, .image5 {
        display: none;
    }
.two_imgs {
    display: flex;
    flex-direction: column;
}
    .image1, .image2, .image4, .three_imgs {
        width: 100%;
    }

    .four_imgs {
        flex-direction: column;
        width: 100%;
    }

    .arrow {
        display: none;
    }

    .latest_image {
        width: 100%;
    }

    .latest_image1 {
        display: none;
    }

    .view_btn {
        display: inline;
        margin-top: 20px;
    }

    .cards{
        flex-direction: column;
    }

    .about_cards {
        width: 95%;
        margin: 0 auto;
        
    }

    

    .subscribe_header {
        text-align: center;
    }

    .hero_title {
        font-size: 2rem;
    }
  
}



    